<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    ErrorDocument 404 /../app/views/error/notFound.php

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>